<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>smtsps</name>
	<displayName><![CDATA[SMT SPS]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Paiement &agrave; travers SPS de Soci&eacute;t&eacute; Mon&eacute;tique Tunisie.]]></description>
	<author><![CDATA[Nacef LABIDI &lt;nacef.labidi@gmail.com&gt;]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>